{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<!--User-Login Section:-->
<section class="form-section">

  <!--Success Message if User signs up successfully before getting redirected to this page:-->
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}

  <!--Login Form-->
  <div class="container w-75 form-container">
    <h2 class="form-heading mb-5">Login</h2>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
    <p class="mt-5 form-paragraph">Don't have an account yet? Click <a href="/accounts/signup">here </a>!</p>
  </div>
</section>
{% endblock %}