{% extends "base.html" %}
{% block title %}Signup{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<section class="form-section">
  <div class="container w-75 form-container">
    <h2 class="form-heading mb-5">Signup</h2>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">Create your Account!</button>
      </div>
    </form>
    <p class="mt-5 form-paragraph">Have an account? Click <a href="/accounts/login">here </a>!</p>
  </div>
</section>
{% endblock %}