/*------------------------------------------------------------------------------- General: */

body {
    padding-top: 56px;
}

.text-highlights {
    color: #0C6DFD;
}

/*------------------------------------------------------------------------------- Home: */

/*------------------------------------------------------------------------------- Hero-Section (Home): */

#hero-section {
    min-height: 100vh;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero-section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-section-heading-one, .hero-section-heading-two {
    margin: 0 0 30px;
}

.hero-section-paragraph {
    margin: 0 0 30px;
}

#wireframe-image {
    max-width: 350px;
}

/*------------------------------------------------------------------------------- Footer (Home): */

#footer {
    background-color: #212529 !important;
}

#footer-text {
    color: #fafafa;
}

/*------------------------------------------------------------------------------- Signup: */

/*------------------------------------------------------------------------------- Form (Signup): */

.form-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 50px;
    margin: 50px 0;
}