{% extends "base.html" %}
{% load static %}

{% block title %}{{ room.name }} | Chat{% endblock %}

{% block content %}

<!--Chat-Interface Section-->
<section class="general-section">
    
    <div class="container container-background">

        <!--Chatroom-Heading-->
        <div class="row">
            <div class="col mt-5">
                <h3>
                    Chatroom: 
                    <img src="{{ room.team.logo.url }}" alt="{{ room.team.name }}"style="max-width: 30px;">
                    {{ room.name }}
                </h3>
            </div>
            <div class="col mt-5 text-end">
                <a class="btn btn-primary btn-sm" href="{% url 'chatrooms' %}" role="button">Back to all Chats</a>
            </div>
        </div>

        <!--Chatroom-Messages-->
        <div class="row mt-5 scroll">
            {% for message in chat_messages %}
            <div class="col-12">
                <p class="message">
                    {% with sender_profile=message.sender.profile %}
                    <img class="chat-profilepics" 
                    src="{{ sender_profile.picture.url }}" 
                    alt="{{ sender_profile.user.username }} Profile Picture">
                    {% endwith %}
                    {{ message.sender.username }}:
                    <br>
                    {{ message.content }}
                    <br>
                    <small>{{ message.timestamp }}</small>
                    <br>
                    {% if message.editable %}
                    <a href="{% url 'chat:edit_message' message.id %}">
                        <i class="fa-solid fa-pen-to-square message-icons"></i>
                    </a>
                    {% endif %}
                    {% if message.deletable %}
                    <a href="{% url 'chat:delete_message' message.id %}">
                        <i class="fa-solid fa-trash message-icons"></i>
                    </a>
                    {% endif %}
                </p>
            </div>
            {% endfor %}
        </div>

        <!--Refresh Page for new messages!-->
        <div class="row mt-2">
            <div class="col-12 text-center">
                <small>Please note that you have to refresh the page to see all new messages!</small>
            </div>
            <div class="col-12 text-center">
                <button id="refresh-button" class="btn btn-primary btn-sm" onclick="location.reload();">Refresh</button>
            </div>
        </div>

        <!--Chatroom-Message-User-Field-->
        <form method="post">
            {% csrf_token %}
            <div class="row text-center mt-5">
                <div class="col mb-2">
                    <textarea name="content" placeholder="Write your message here....."></textarea>
                </div>
                <div class="d-grid mb-5">
                    <button class="btn btn-primary" type="submit">Send!</button>
                </div>
            </div>
        </form>

    </div>
</section>

{% endblock %}