{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container" id="hero-section">
    <div class="row">
        <div class="col">
            <h1>
                Welcome to the NFL Tailgate App!
            </h1>
            <h2>Couldn't make it to the game?</h2>
            <p>
                The NFL Tailgate App is the ultimate platform for NFL fans to connect, 
                support their favorite teams, and interact with like-minded individuals. 
                Whether you're a passionate football fan or simply love the atmosphere of tailgating, 
                our app provides everything you need to make the most out of the NFL season.
            </p>
        </div>
    </div>
</div>

{% endblock %}