{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<!--------------------------------------------------------------------------------------------- Hero-Section: -->

<div class="container" id="hero-section">
    <div class="row">
        <div class="col text-center" id="hero-section-text">
            <h1 class="hero-section-heading-one mt-5">
                Welcome to <strong>tailgate<span class="text-highlights">.</span></strong>
            </h1>
            <h2 class="hero-section-heading-two">
                Couldn't make it to the game? <span class="text-highlights">We got you!</span>
            </h2>
            <p class="hero-section-paragraph">
                The <strong>tailgate<span class="text-highlights">.</span></strong> 
                App is the ultimate platform for NFL fans to connect,
                support their favorite teams, and interact with like-minded individuals.
                Whether you're a passionate football fan or simply love the atmosphere of tailgating,
                our app provides everything you need to make the most out of the NFL season.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <img id="wireframe-image" src="{% static 'images/example_mockup_nfl_tailgate_app.png' %}"
                alt="Image of a wireframe of the NFL Tailgate App" class="mb-5">
        </div>
    </div>
    <div class="row mb-5">
        <div class="col text-center">
            <a class="btn btn-primary" href="{% url 'login' %}" role="button">Login here!</a>
            <a class="btn btn-primary" href="{% url 'signup' %}" role="button">Signup here!</a>
        </div>
    </div>
</div>

<!--------------------------------------------------------------------------------------------- Signup-CTA-Section: -->

<section id="how-to-sign-up">
    <div class="container text-center how-to-sign-up-container">
        <div class="row">
            <div class="col">
                <h2 class="mt-5">Signup it's <span class="text-highlights">free</span> !</h2>
                <p>Here's how you can sign up:</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4 col-lg-4 col-xl-4">
                <div class="card mb-3 card-styling">
                    <img src="{% static 'images/step1.png' %}" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Step #1:</h5>
                        <p class="card-text">
                            Signup with our quick and easy register form and create your account.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4">
                <div class="card mb-3 card-styling">
                    <img src="{% static 'images/step2.png' %}" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Step #2:</h5>
                        <p class="card-text">
                            Select your favorite team and gain access to all features in the app.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4">
                <div class="card mb-5 card-styling">
                    <img src="{% static 'images/step3.png' %}" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Step #3:</h5>
                        <p class="card-text">
                            Done! Now you can enjoy all of NFL Tailgate as good as it gets online!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-primary mb-5" href="{% url 'signup' %}" role="button">Signup! It's free!</a>
            </div>
        </div>
    </div>
</section>

<!--------------------------------------------------------------------------------------------- Socials-Section: -->

<section id="socials-section">
    <div class="container text-center how-to-sign-up-container">
        <div class="row">
            <div class="col-12 mt-5">
                <h2><span class="text-highlights">Follow</span> us on Social Media!</h2>
                <p>Our social media account is all about the <strong>NFL</strong>, 
                    you can also find out more about the <strong>tailgate<span class="text-highlights">.</span></strong> APP 
                    and stay up to date in the world of your favorite league.
                </p>
            </div>
            <div class="col-4 mb-5">
                <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-instagram social-icons"></i>
                </a>
            </div>
            <div class="col-4 mb-5">
                <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-twitter social-icons"></i>
                </a>
            </div>
            <div class="col-4 mb-5">
                <a href="https://www.tiktok.com/" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-tiktok social-icons"></i>
                </a>
            </div>
        </div>
    </div>
</section>


{% endblock %}