/*------------------------------------------------------------------------------- General: */

body {
    padding-top: 56px;
    background-color: #212529 !important;
}

.text-highlights {
    color: #0C6DFD;
}

#logo {
    max-width: 30px;
    margin-right: 10px;
}

/*------------------------------------------------------------------------------- Home: */

/*------------------------------------------------------------------------------- Hero-Section (Home): */

#hero-section {
    margin: 50px auto;
    border-radius: 10px;
    background-color: #fafafa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero-section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-section-heading-one, .hero-section-heading-two {
    margin: 0 0 30px;
}

.hero-section-paragraph {
    margin: 0 auto 30px;
    width: 70%;
}

#wireframe-image {
    max-width: 350px;
}

/*------------------------------------------------------------------------------- Signup-Steps-Section (Home): */

#how-to-sign-up {
    margin: 0 auto 50px;
}

.how-to-sign-up-container {
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

.card-styling {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*------------------------------------------------------------------------------- Footer (Home): */

#footer {
    background-color: #212529 !important;
}

#footer-text {
    color: #fafafa;
}

/*------------------------------------------------------------------------------- Signup: */

/*------------------------------------------------------------------------------- Form (Signup): */

.form-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
    padding: 50px;
    margin: 50px 0;
}

.form-heading {
    text-align: center;
}

.form-paragraph {
    text-align: center;
}